html,
body,
#root {
   height: 100%;
}

body {
   margin: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
      "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
