:root {
   font-family:
      -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
      "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
   min-height: 100%;
}

body {
   margin: 0;
}

body::after {
   inset: -50%;
   background-image: url("./assets/noise.svg");
   content: "";
   background-repeat: repeat;
   opacity: 0.1;
   position: fixed;
   pointer-events: none;
   z-index: 9999;
}
